.fields {
  display: flex;
  flex-direction: column;
  gap: 1vh;
} 

input {
  padding: 1%;
  padding-left: 10px;
}

.input {
  color: #fff;
  border: 0.5px;
  border-width: 1px;
  border-style: solid;
  border-color: #0a0a0a;
  border-radius: 5px;
  background-color: transparent;
  height: 3vh;
}

input::placeholder {
  color: #fff;
}

.select {
  color: #fff;
  border: 0.5px;
  border-width: 1px;
  border-style: solid;
  border-color: #0a0a0a;
  border-radius: 5px;
  background-color: transparent;
  height: 3.8vh;
}

select {
  padding: 1%;
  padding-left: 10px;
}